@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
  --theme-backgroung-color: #021e15;
  --theme-main-color: #01fe12;
  --theme-sub-text-color: #00ff00;
  --theme-nav-background-color: #082b0380;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: cursive, system;
}

html {
  font-size: 60%;
  height: 100%;
}

body {
  background: var(--theme-backgroung-color);
  height: 100%;
}

#root {
  height: 100%;
}
